<div class="row wrapper">
	<div class="col-sm-4">
	  	<h1 class="centered"><%="Name: #{@artwork.name}"%></h1>
	  	<br>
	  	<h2 class="centered">Price: <%="$#{@artwork.price}"%></h2>
	  	<br>
	  	<br>
	  	<h2 class="centered">Number for sale: <%="#{@artwork.quantity}"%></h2>
	  	<br>
	  	<h2 class="centered"><a href=<%="/users/#{@artwork.creator.user_id}"%>>See Artist Profile</a></h2>
	 </div>
	 <div class="col-sm-4">
	 <figure>
	 <img src="<%= "/images/#{@artwork.img}" %>" alt="<%= @artwork.name%>">
	 <figcaption>
		<label>Seller's Description</label>
	  	<%="#{@artwork.description}"%>
	  </figcaption>
	</figure>
	 </div>	 
	 <br><br>
	 <div class="col-sm-2 seller-options">
	 <%if !!Helpers.is_logged_in?(session)%>
		 <%if Helpers.current_user(session).id == @artwork.creator.user_id%>
		 	<a href=<%="/artworks/#{@artwork.id}/edit"%>>Edit Artwork Page</a>
		 	<div>
		 	<form method="post" action="/artworks/<%= @artwork.id %>/delete">
			  <input id="hidden" type="hidden" name="_method" value="delete">
			  <input type="submit" value="Delete">
			</form>
			</div>
		<%else%>
			<a href=<%="/transactions/#{Helpers.current_user(session).id}/#{@artwork.id}/new"%>>Purchase Artwork</a>
		 <%end%>
	<%end%>		
	</div>
</div>