<div class="row">
	<div class="col-sm-4">
	  	<h2><%="Name: #{@artwork.name}"%></h2>
	  	<br>
	  	<p><%="$#{@artwork.price}"%></p>
	 </div>
	 <img src="<%= "images/#{@artwork.img}" %>" alt="<%= @artwork.name%>" width="300" height="300">
	 <br><br>
	<div class="col-sm-2">
		<label>Artist's Description</label>
	  	<%="#{@artwork.description}"%>
	 </div>	 
	 <br><br>
	 <%if !!Helpers.is_logged_in?(session)%>
		 <%if Helpers.current_user(session).id == @artwork.creator.user_id%>
		 	<a href=<%="/artworks/#{@artwork.id}/edit"%>>Edit Artwork Page</a>
		 	<div>
		 	<form method="post" action="/artworks/<%= @artwork.id %>/delete">
			  <input id="hidden" type="hidden" name="_method" value="delete">
			  <input type="submit" value="Delete">
			</form>
			</div>
		 <%end%>
	<%end%>
	 <br><br>
		<a href=<%="/users/#{@artwork.creator.user_id}"%>>See Artist Profile</a>
</div>