<div class="row">
	<div class="col-sm-4">
	  	<h1><%="Name: #{@artwork.name}"%></h1>
	  	<br>
	  	<h2>Price: <%="$#{@artwork.price}"%></h2>
	  	<br>
	  	<br>
	  	<h2>Number for sale: <%="#{@artwork.quantity}"%></h2>
	  	<br>
	  	<a href=<%="/users/#{@artwork.creator.user_id}"%>>See Artist Profile</a>
	 </div>
	 <div class="col-sm-8">
	 <figure>
	 <img src="<%= "/images/#{@artwork.img}" %>" alt="<%= @artwork.name%>">
	 <figcaption>
		<label>Seller's Description</label>
	  	<%="#{@artwork.description}"%>
	  </figcaption>
	</figure>
	 </div>	 
	 <br><br>
	 <div class="col-sm-2 seller-options">
	 <%if !!Helpers.is_logged_in?(session)%>
		 <%if Helpers.current_user(session).id == @artwork.creator.user_id%>
		 	<a href=<%="/artworks/#{@artwork.id}/edit"%>>Edit Artwork Page</a>
		 	<div>
		 	<form method="post" action="/artworks/<%= @artwork.id %>/delete">
			  <input id="hidden" type="hidden" name="_method" value="delete">
			  <input type="submit" value="Delete">
			</form>
			</div>
		 <%end%>
	<%end%>		
	</div>
</div>