<%if @success == true%>
	<div class="alert alert-success">
	  <strong>Transaction complete! See receipt below.</strong>
	</div>
<%end%>
<%if @create == true%>
	<div class="alert alert-success">
	  <strong>Welcome to Sinatra Art Market!</strong>
	</div>
<%end%>
<div class="row">
	<div class="col-sm-4">
	  	<%="Name: #{@user.name}"%>
	  	<br>
	  	<%="Email: #{@user.email}"%>
	 </div>
	 <br><br>
	<div class="col-sm-4">
	  	<%="Biography: #{@user.bio}"%>
	 </div>	 
	 <br><br>
	 <%if !!Helpers.is_logged_in?(session)%>
	 	<div class="col-sm-4">
		 <%if Helpers.current_user(session).id == @user.id%>
		 	<a href=<%="/users/#{@user.id}/edit_profile"%>>Edit Profile</a>
		 	<a href=<%="/users/#{@user.id}/change_password"%>>Change Password</a>
		 <%end%>
		</div>	 
	 </div>
	 <%if !!@creator%>
	 	<h1><%="Artworks by #{@user.name}"%></h1>
	 	<div class="row">
	 	<% @user.creator.artworks.all.each do |art|%>
	 		<div class="col-sm-3 art-display">
			<a href="/artworks/<%= "#{art.id}" %>"><h1><%=art.name%></h1></a>
			<figure>
				<img src="<%= "/images/#{art.img}" %>" alt="<%= art.name%>" width="300" height="300">
				<figcaption><%= "Posted by: #{art.creator.user.name}" %></figcaption>
			</figure>
			<h3><%= "Price: $#{art.price}" %></h3>
			<h3><%= "Number for sale: #{art.quantity}" %></h3>
			</div>
		</div>
		<%end%>
	<%end%>
	 <br><br>
		 <%if !!@buyer%>
			<div class="row">
				<h2>Purchases</h2>
				 <%@user.buyer.transactions.all.each do |sale|%>
				 	<div class="col-sm-3 transaction-display">
				 	<%@artwork = Artwork.find(sale.artwork_id)%>
				 	<h1><%=@artwork.name%></h1>
				 	<figure>
						<img src="<%= "/images/#{@artwork.img}" %>" alt="<%= @artwork.name%>" width="300" height="300">
					</figure>
					<br><br>
					<h2>Purchased from <a href="/users/<%="#{@artwork.creator.user.id}"%>"><%=@artwork.creator.user.name%></a></h2>
					<br><br>
					<h3>Quantity: <%=sale.quantity_sold%></h3>
					<%total = @artwork.price.to_f * sale.quantity_sold.to_f%>
					<h3>Total Price: $<%=total%></h3>
					<br>
					<a href="/transactions/<%= "#{sale.id}" %>/edit">Edit Purchase</a>
					</div>
				<%end%>	
			</div>
		<%end%>
		<%mysales = []%>
		<%Transaction.all.each do |sale|%>
			<%if sale.artwork.creator.user.id == Helpers.current_user(session).id%>
				<%mysales << sale%>
			<%end%>
		<%end%>
		<%if !mysales.empty?%>
			<div class="row">
				<h2>Sales</h2>
				 <%mysales.each do |sale|%>
				 	<div class="col-sm-3 transaction-display">
				 	<%@artwork = Artwork.find(sale.artwork_id)%>
				 	<h1><%=@artwork.name%></h1>
				 	<figure>
						<img src="<%= "/images/#{@artwork.img}" %>" alt="<%= @artwork.name%>" width="300" height="300">
					</figure>
					<br><br>
					<h2>Bought by <a href="/users/<%="#{sale.buyer.user.id}"%>"><%=sale.buyer.user.name%></a></h2>
					<br><br>
					<h3>Quantity: <%=sale.quantity_sold%></h3>
					<%total = @artwork.price.to_f * sale.quantity_sold.to_f%>
					<h3>Total Price: $<%=total%></h3>
					</div>
				<%end%>							
		<%end%>
	<%end%>

</div>