<div class="wrapper">
<%if @success == true%>
	<div class="alert alert-success">
	  <strong>Transaction complete! See receipt below.</strong>
	</div>
<%end%>
<%if @create == true%>
	<div class="alert alert-success">
	  <strong>Welcome to Sinatra Art Market!</strong>
	</div>
<%end%>
<%if @transaction_success == true%>
	<div class="alert alert-success">
	  <strong>Transaction has been modified. Check receipts below.</strong>
	</div>
<%end%>
<div class="row">
	<div class="col-sm-4">
	  	<h1><%="Name: #{@user.name}"%></h1>
	  	<br>
	  	<h3><%="Email: #{@user.email}"%></h3>
	 </div>
	 <br><br>
	<div class="col-sm-4">
	  	<p><%="Biography: #{@user.bio}"%></p>
	 </div>	 
	 <br><br>
	 <%if !!Helpers.is_logged_in?(session)%>
	 	<div class="col-sm-4">
		 <%if Helpers.current_user(session).id == @user.id%>
		 	<a href=<%="/users/#{@user.id}/edit_profile"%>><button class="button-green">Edit Profile</button></a>
		 	<a href=<%="/users/#{@user.id}/change_password"%>><button class="button-green">Change Password</button></a>
		 <%end%>
		</div>	 
	 </div>
</div>

	 <%if !!@creator%>
	 	<%if !!@creator.artworks%>
	 		<h1 class= "centered"><%="Artworks by #{@user.name}"%></h1>
	 		<div class="row wrapper">
	 	<%end%>
	 	<% @user.creator.artworks.all.each do |art|%>
	 	<div class="col-sm-3 art-box">
			<a href="/artworks/<%= "#{art.id}" %>"><h1><%=art.name%></h1></a>
			<figure>
				<img src="<%= "/images/#{art.img}" %>" alt="<%= art.name%>" width="300" height="300">
				<figcaption><%= "Posted by: #{art.creator.user.name}" %></figcaption>
			</figure>
			<h3><%= "Price: $#{art.price}" %></h3>
			<h3><%= "Number for sale: #{art.quantity}" %></h3>
		</div>
		<%end%>
	</div>
	<%end%>
	 <br><br>
		 <%if !!@buyer%>
		 	<%if !@buyer.transactions.empty?%>
		 		<h1 class="centered">Purchases</h2>
		 		<div class="row wrapper">
		 	<%end%>
				 <%@user.buyer.transactions.all.each do |sale|%>
				 	<div class="col-sm-3 art-box">
				 	<%@artwork = Artwork.find(sale.artwork_id)%>
				 	<h1><%=@artwork.name%></h1>
				 	<figure>
				 		<figcaption><%= "Note from Buyer: #{sale.note}"%></figcaption>
						<img src="<%= "/images/#{@artwork.img}" %>" alt="<%= @artwork.name%>" width="300" height="300">
					</figure>
					<br><br>
					<h2>Purchased from <a href="/users/<%="#{@artwork.creator.user.id}"%>"><%=@artwork.creator.user.name%></a></h2>
					<br><br>
					<h3>Quantity: <%=sale.quantity_sold%></h3>
					<%total = @artwork.price.to_f * sale.quantity_sold.to_f%>
					<h3>Total Price: $<%=total%></h3>
					<br>
					<a href="/transactions/<%= "#{sale.id}" %>/edit">Edit Purchase</a>
					<br>
					<form method="post" action="/transactions/<%= sale.id %>/delete">
					  <input id="hidden" type="hidden" name="_method" value="delete">
					  <button class="button-green">Delete</button>
					</form>
					</div>
				<%end%>	
		<%end%>
</div>
		<%mysales = []%>
		<%Transaction.all.each do |sale|%>
			<%if sale.artwork.creator.user.id == Helpers.current_user(session).id%>
				<%mysales << sale%>
			<%end%>
		<%end%>
		<%if !mysales.empty?%>
				<div class="row wrapper">
				<h1 class ="centered">Sales</h1>
				 <%mysales.each do |sale|%>
				 	<div class="col-sm-3 art-box">
				 	<%@artwork = Artwork.find(sale.artwork_id)%>
				 	<h1><%=@artwork.name%></h1>
				 	<figure>
				 		<figcaption><%= "Note from Buyer: #{sale.note}"%></figcaption>
						<img src="<%= "/images/#{@artwork.img}" %>" alt="<%= @artwork.name%>" width="300" height="300">
					</figure>
					<br><br>
					<h2>Bought by <a href="/users/<%="#{sale.buyer.user.id}"%>"><%=sale.buyer.user.name%></a></h2>
					<br><br>
					<h3>Quantity: <%=sale.quantity_sold%></h3>
					<%total = @artwork.price.to_f * sale.quantity_sold.to_f%>
					<h3>Total Price: $<%=total%></h3>
					</div>
				<%end%>							
			<%end%>
			</div>
		<%end%>
	
